@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050B19;
  --foreground: #FFFFFF;
  --font-liebling: "Inter", sans-serif;
  /* Fallback */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-liebling), sans-serif;
}